p {
    font: 100% sans-serif;
  }
 .tittle3{
color: rgba(255, 0, 0, 0.596);
font: 200% sans-serif;
text-align: center;
  }
  .tittle4{
    color: rgba(255, 0, 0, 0.596);
    font: 200% sans-serif;
    text-align: left;
      }
  .tittle2{
    font: 150% sans-serif;
    text-align: center;
  }
  .texts-steps{
    height: 70%;
    padding-left:5%;
  }